

.background {
  margin: 0px;
  width: 100%;
  height: 100%;
 /*   background-image: url(https://s-media-cache-ak0.pinimg.com/avatars/kdanaher1986-1384829969_280.jpg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    display: inline-flex;
    margin: 0px;*/
}

#header {
  height: 130px;
  background-color: black;
}

.parallax {
    background-attachment: fixed;
    height: 413px;
    background-image: url(double_exposure_test_.png);
    background-repeat: no-repeat;
    /* position: absolute; */
    background-size: cover;
    /* display: inline-flex; */
    margin: 0px;
}

h1 {
    padding-top: 10px;
    /* height: 14px; */
    padding-left: 11px;
    padding-right: -3px;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 5%;
    width: auto;
    color: white;
    font-size: 100px;
    /* bottom: 0; */
    font-family: futura;
}

h3 {
  padding-left: 20px;
}

h4 {
  padding-left: 20px;
}

.parallax2 {
    background-attachment: fixed;
    height: 413px;
    background-image: url(test_pic.jpg);
    background-repeat: no-repeat;
    /* position: absolute; */
    background-size: cover;
    /* display: inline-flex; */
    margin: 0px;
    border-bottom: 5px solid black;
}

.container {
  background-position: absolute;
  width: 100%;
  left: 0;
  /*border-top: 5px solid black;*/
  /*border-bottom: 5px solid black;*/
}


div.container {
    font-family: futura;
    position: relative;
    left: 0px;
    right: 0px;
    top: 30px;
    width: 100%;
    color: white;
    margin-left: 0px;
}

a {
  padding-left: 20px;
    padding-right: 20px;
    color: black;
}

p {
  padding-left: 20px;
}


div.container2 {
    font-family: futura;
    background: rgba(255, 255, 255, 0.7);
    /* top: 600px; */
    background-position: static;
    /* left: 0; */
    height: absolute;
    color: black;
    /* padding-left: 20px; */
    /* padding-right: 60px; */
}

.container2 {
     border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin-top: 0px;
    background-position: absolute;
    width: 100%;
    left: 0;
}

 li {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
left: 0px;
} 


ul {
    margin: 0px;
    padding: 0;
    list-style-type: none;
}

li {
  width: 100%;
  color: black;
  font: arial;
  font-size: 50px;
  background: rgba(255, 255, 255, 0.7);
  background-width: 100%;
  padding-top: 0px;
  /*padding-left: 50px;*/
  /*padding-right: 90%;*/

}




div.social {
    /* height: 50px; */
    position: absolute;
    /* top: 0px; */
    padding-top: 50px;
}


.social {
    /* position: relative; */
    height: 100px;
    position: relative;
    background-color: black;
    margin: 0px;
    width: 100%;
}


/*.social div {
  height: 100px;
}*/

.column-left {
    /* width: 25; */
    float: left;
    /* background: white; */
    position: absolute;
    /* border: 10px solid; */
    /*padding-left: 63px;*/
}

.column-center {
   /*background-color: white;*/
    position: absolute;
    left: 50%;

}

.column-right {
    /* left: 894px; */
    background: ;
    position: absolute;
    right: 0px;
    /* left: 80%; */
}

img.resize{
  width: 50px;
  height: auto;
}
