.background {
    background-image: url(https://s-media-cache-ak0.pinimg.com/avatars/kdanaher1986-1384829969_280.jpg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    display: inline-flex;
    margin: 0px;
}

h1 {
    padding-left: 11px;
    padding-right: -3px;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 5%;
    width: auto;
    color: white;
    font-size: 100px;
    /* bottom: 0; */
    font-family: : futura;
}

.container2 {
    margin-top: 300px;
    background-position: absolute;
    width: 100%;
    left: 0;
}

.container {
  background-position: absolute;
  width: 100%;
  left: 0;
}


div.container {
    font-family: futura;
    position: relative;
    left: 0px;
    right: 0px;
    top: 30px;
    width: 54%;
    color: white;
    margin-left: 0px;
}

a {
  color: black;

}

div.container2 {
    font-family: futura;
    background: rgba(255, 255, 255, 0.7);
    top: 600px;
    background-position: static;
    left: 0;
    width: 100%;
    height: absolute;
    color: black;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding-left: 20px;
    padding-right: 60px;
}

.container2 {
    margin-top: 300px;
    background-position: absolute;
    width: 100%;
    left: 0;
}

 li {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
left: 0px;
} 


ul {
    margin: 0px;
    padding: 0;
    list-style-type: none;
}

li {
  width: 100%;
  color: black;
  font: arial;
  font-size: 50px;
  background: rgba(255, 255, 255, 0.7);
  background-width: 100%;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 90%;

}
div.social {
    position: absolute;
    left: 50px;
    right: 0px;
    top: 950px;
}

.social {
position: relative;

}
.social div {
  height: 100px;
}

.column-left {
    /* width: 25; */
    float: left;
    /* background: white; */
    position: absolute;
    /* border: 10px solid; */
}

.column-center {
    width: 25%;
    left: inherit;
    background: ;
    position: absolute;
    left: 45%;
    padding-right: 0px;
}

.column-right {
    left: 894px;
    background: ;
    position: absolute;
    /* right: 0px; */
    /* left: 80%; */
}

img.resize{
  width: 50px;
  height: auto;
}
